#back{
	background-image:url(../images/1.jpg); 
	height: 851px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.a{
	color: white;
	font-size: 40px;
	font-weight: bold;
}
.b{
	color: orange;
	font-size: 40px;
	margin-left: 15px;

}
.Net_b{
	margin-top: 50px;
}
.entete{
	margin-top: 60px;
	background-color: inherit ! important;
}
.ancre{
	color: white !important;
	font-size: 18px;
	height: 90px;
	background-color: inherit !important;
}
ul a:hover{
	color: orange ! important;
	font-size: 18px;
	border-bottom: 3px solid orange;

}
 ul a:focus{
	color: orange ! important;
	font-size: 18px;
	border-bottom: 3px solid orange;
	
}
.bord{
	border-bottom: 1px solid white;
	height: 150px;
}
.accept{
	text-align: center;
	color: white;
	font-size: 55px;
	font-weight: bold;
	font-family: arial black;
}
.sed{
	color: white;
	text-align: center;
	font-size: 15px;
}
.acsed{
	margin-top: 130px;
	/*margin-left:250px;*/
	
}
.wel{
	text-align: center;
	color: orange;
	margin-top: 50px;
	font-size: 50px;
}
.im4{
	width: 100%;
	border: 8px solid rgb(227,227,227);
	border-radius: 4px;
	height: 100%;

}
.im6{
	width: 100%;
	height: 100%;
	border: 8px solid rgb(227,227,227);
	border-radius: 4px;
}
.im5{
	margin-top: 60px;
}
.wel1{
	text-align: center;
	margin-top: 40px;
	color: grey;
}
.active{
	color: orange ! important;
}
.about1{
	text-align: center;
	color: orange;
	margin-top: 50px;
	font-size: 50px;
}
.us{
	font-family: arial black;
	color: black;
	font-weight: bold;
	font-size: 25px;
}
.p1{
	color: black;
	margin-top: 55px;
}
.list_about{
	color: rgb(171,171,171);
	list-style: none;
	padding-left: 0px;
	line-height: 30px;
	margin-top: 30px;
	font-size: 17px;
}
.back10{
	background-color: rgb(241,241,241);
	margin-top: 70px;
	height:auto
}
.im7{
	width: 100%;
	height:350px;
	margin-top: 50px;
	border: 6px solid white;
}
.about_us{
	margin-top: 30px;
}
.our_s{
	text-align: center;
	color: orange;
	margin-top: 50px;
	font-size: 50px;
}
.carousel1{
	bottom:-80px;
}
.overview{
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-top: 60px;
	font-family: arial black;
}
.para2{
	color: rgb(173,173,173);
	margin-top: 30px;
}
.cards{
	color: black;
	font-weight: bold;
	font-family: arial black;
	font-size: 20px;
	margin-top: 20px;
}
.c2{
	border: 4px solid rgb(227,227,227);
	width: 150px;
	height: 80px;
	margin-top: 10px;
}
.visa{
	color: orange;
	margin-top: 7px;
	font-size: 17px;
}
.para3{
	color: rgb(173,173,173);
}
.debits{
	color: black;
	font-weight: bold;
	font-family: arial black;
	font-size: 20px;
}
.para4{
	color: rgb(173,173,173);
	margin-top: 18px;
	line-height: 25px;
}
.background_icon{
	background-color: rgb(171,171,171);
	width: 70px;
	height:70px; 
	border-radius: 50px;
}
.icon1{
	color: white;
	margin-top: 20px;
	margin-left: 18px;
	font-size: 30px;
}
.i_row{
	margin-top: 60px;
}
.para5{
	margin-top: 15px;
	margin-left: -15px;
	font-size: 17px;
}

.im9{
	width: 90%;
	margin-top:35px;
}
.para6{
	line-height: 25px;
	margin-top: 20px;
	margin-left: 10px;
}
.para7{
	line-height: 25px;
	font-size: 15px;
	color: rgb(171,171,171);
	margin-left: 10px;
}
.ens{
	border: 4px solid;
	color: rgb(171,171,171);
}
.back2{
	background-image:url(../images/b1.jpg);
	height: 600px;
	margin-top: 60px;
	background-repeat: no-repeat;
	/*width: 100%;*/
	background-size: cover;
}
.blog_1{
	color: orange;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}
.time1{
	color: white;
	font-size: 50px;
	font-weight: bold;
}
.blog_2{
	color:white;
	margin-top: 20px;
	line-height: 25px;
}
.blog_3{
	margin-left: 130px;
	margin-top: 50px;
}
.blog_4{
	margin-top: 60px; 
	margin-left: -120px;
}
.para8{
	color: white;
	line-height: 25px;
}
.para9{
	color: rgb(171,171,171);
	line-height: 25px;
}
.blog_5{
	margin-top: 50px;
	margin-left: 50px;
}
.news{
	margin-top: 40px;
}
.news1{
	color: orange;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}
.im10{
	width:330px;
	height: 230px;
	margin-left: 18px;
}
.para10{
	font-size: 18px;
	color: black;
	font-family: arial black;
	margin-left: 19px;
	margin-top: 12px;
}
.para11{
	margin-left: 19px;
	line-height: 25px;
	margin-top: 15px;
	color: rgb(171,171,171);
}
.time2{
	margin-left: 19px;
	margin-top: 25px;
}
.more{
	margin-left: 19px;
	margin-top: 20px;
	border: 2px solid black;
	width: 90px;
	height: 30px;
	padding-left: 25px;
	padding-top: 4px;
}
.news2{
	border: 4px solid rgb(171,171,171);
	height: 480px;
	margin-left: 140px;
	margin-top: 50px;
	width: 370px;
	padding-top: 20px;
	padding-left: 2px;
}
.news3{
	border: 4px solid rgb(171,171,171);
	height: 480px;
	margin-left: 40px;
	margin-top: 50px;
	width: 370px;
	padding-top: 20px;
	padding-left: 2px;
}
.news4{
	border: 4px solid rgb(171,171,171);
	height: 480px;
	margin-left: 40px;
	margin-top: 50px;
	width: 370px;
	padding-top: 20px;
	padding-left: 2px;
}
.back3{
	background-image: url(../images/7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:500px;
	margin-top: 100px;
}
.client1{
	color: orange;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}
.client2{
	color: white;
	font-weight: bold;
	font-size: 15px;
	background-color: grey;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 28% 75%, 25% 83%, 22% 75%, 0% 75%);
	height: 130px;
	margin-top: 50px;
	opacity: 0.4;
	width: 360px;
	padding-left: 15px;
	padding-top: 15px;
}
.im11{
	width: 60px;
	width: 60px;
	margin-left: 60px;
	margin-top: -10px;
}
.para12{
	color: orange;
	margin-left: 130px;
	margin-top: -60px;
	font-weight: bold;
	font-size: 15px;
}
.para13{
	color: white;
	margin-left: 130px;
	margin-top: -10px;
}
.back4{
	margin-left: 40px;
}
.back5{
	margin-left: 40px;
}
.subs_1{
	width:400px;
	/*margin-left: px;*/
	margin-top: 50px;
	height:50px; 
	background-color: rgb(241,241,241);
}
.but_1{
	margin-left: 400px;
	margin-top: -70px;
	background-color: orange;
	color: white;
	height: 50px;
	width: 115px;
	border: none;
}
.map_1{
	margin-top: 60px;
}
/*  contac us*/
.contact_1{
	color: orange;
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}
.btn_3{
	float: right;
	background-color: orange;
	height: 40px;
	width: 120px;
	border: none;
	color: white;
}
.us_1{
	margin-top: 40px;
}
.get_t{
	font-weight: bold;
	font-family: arial black;
	margin-top: 40px;
	font-size: 18px;
}
.numb{
	color: rgb(171,171,171);
	line-height: 30px;
	margin-top: -25px;
}
.address{
	font-weight: bold;
	font-family: arial black;
	margin-top: 10px;
	font-size: 18px;
}
.avenue{
	color: rgb(171,171,171);
	line-height: 25px;
}
.email{
	font-weight: bold;
	font-family: arial black;
	margin-top: 10px;
	font-size: 18px;
}
.mail{
	color: rgb(171,171,171);
}
.back6{
	background-image: url(../images/7.jpg );
	height: 300px;
	margin-top: 50px;
	background-size: cover;
}
.Net_n{
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
}
.social{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 17px;
	margin-top: 30px;
}
.end{
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 20px;
}
.end span{
	margin-left: 25px;
}
.end1{
	color: white;
	text-align: center;
	margin-top: 45px;
}
.carousel-indicators li{
	background-color: orange;
	border-style: none;
}

.res{
	border: none;
}
.div_1{
	background: inherit;
	text-align: center;
	border: none;
}

/*]]]]]]]]]]]]]]  MEDIA QUERY   ]]]]]]]]]]]]]]]]]]*/
@media only screen and (max-width: 768px){
	#back{
		height: 700px;
		background-image:url(../images/1.jpg); 
		background-repeat: no-repeat;
		background-size: cover;

	}
	.c2{
		width: 100%;
	}
     .blog_3{
     	margin-left: 30px;
     	margin-top: 10px;
     }
     .blog_4{
     	margin-left: 30px;
     	margin-top: 10px;
     }
     .blog_5{
     	margin-left: 30px;
     }
     .back2{
     	height: auto;
     }
     .back0{
     	height: 600px;
     	border: none;
     }
     .buton1{
     	margin-top: -60px;
     }
     .entete{
     	margin-top:5px;
     	width: cover;
     	background-color: black !important;
     	opacity: 0.7;
     	margin-left: -30px;
     	margin-right: -30px;
     	z-index: 5;
     	position: relative;

     }
     .news4{
     	margin-left: 138px;
     }
     .news3{
     	margin-left: 138px;
     }

     ul a:hover{
	color: orange ! important;
	font-size: 18px;
	border-bottom: 3px solid orange;

	}




}

@media only screen and (min-width:768px) and (max-width:992px){
	.accept{
	text-align: center;
	color: white;
	/*font-size: 45px;*/
	font-weight: bold;
	font-family: normal !important;
	}
	.div_1{
	background: inherit;
	text-align: center;
	border: 1px solid black;
	}
	.wel{
		margin-top:50px;
	}
	.im7{
	width: 80%;
	height:350px;
	margin-top: 50px;
	border: 6px solid white;
	margin-left: 70px;  
    }
    .back2{
	background-image:url(../images/b1.jpg);
	height: 680px;
	/*margin-top: 60px;*/
	background-repeat: no-repeat;
	/*width: 100%;*/
	background-size: cover;
    }
    #back{
	background-image:url(../images/1.jpg); 
	height: 601px;
	background-repeat: no-repeat;
	background-size: 100%;
    }
    .blog_4{
	margin-top: 50px; 
	margin-left: 50px;
	padding-left: 80px;
    }
    .blog_5{
	margin-top: 50px;
	margin-left: 125px;
	}
	.news2{
	border: 4px solid rgb(171,171,171);
	height: 100%;
	margin-left: 10px;
	margin-top: 50px;
	width: 300px;
	padding-top: 20px;
	padding-left: 2px;
	}
	.im10{
		width: 250px;
	}
	.news3{
		width: 300px;
		height: 100%;margin-left: 5px;
	}
	.news4{
		width: 300px;
		height: 100%;
		margin-left: 10px;
	}
	.client1{
		margin-top: 30px;

	}
  
}